<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JCT | Wardbandi</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/css/jct-logo-small-05.png" />
  </head>
  <body>
    <div class="main">
      <img class="logo" src="css/jct-logo-small-05.png" alt="jct logo" />
      <div class="heading">
        <h1 class="headline">Welcome,</h1>
        <h2 class="subline">Sign in to continue</h2>
      </div>
      <% if( err ) { %>
      <p
        style="
          color: rgb(238, 68, 68);
          background: rgb(243, 199, 199);
          padding: 0.4rem 1rem;
        "
      >
        <%= err %>
      </p>
      <% } %>
      <form method="POST" class="center-content" action="/login">
        <input
          class="labels"
          type="text"
          name="username"
          placeholder="Username"
          required
        />
        <input
          class="labels"
          type="password"
          name="password"
          id=""
          placeholder="Password"
          required
        />
        <button type="submit" class="buttons">Sign In</button>
      </form>
    </div>
  </body>
</html>
