<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JCT | Wardbandi</title>
    <link rel="stylesheet" href="/css/w1.css" />
    <link rel="icon" href="/css/jct-logo-small-05.png" />
    <script> 
      window.onload = function () {
        function checkLocationAccess() {
          navigator.geolocation.getCurrentPosition(
            (loc) => {
              // console.log(loc);
            },
            (err) => {
              alert("Please allow location access");
              checkLocationAccess();
            }
          );
        }
        checkLocationAccess();
      };
    </script>
  </head>
  <body>
    <div class="main">
      <img class="logo" src="/css/jct-logo-small-05.png" alt="jct logo" />
      <div class="heading">
        <h1 class="subline" style="text-align:justify ;">Last Block number: <%= blockNumber %>  </h1>
        <h1 class="subline" style="text-align:justify ;">Total entries by user: <%= totalEntries %>  </h1>
        <h1 class="subline" style="text-align: justify;">Entries done today: <%= entries %></h1>
        <form method="GET" action="/resetcounter">
          <button type="submit" class="buttons" style="background-color: green; align-items: center;">Reset Entry Counter</button>
        </form>
        <h1 class="headline">Wardbandi</h1>

      </div>
      <p style="
          color: rgb(238, 68, 68);
          background: rgb(243, 199, 199);
          padding: 0.4rem 1rem;
          display: none;
        " id='blockNotSame'>Block numbers don't match</p>

      <form id='wardForm' method="POST" action="/area" class="center-content" onsubmit="validate(event)">
        <input class="labels" type="text" placeholder="Name of area" name="nameOfArea" required />
        <input class="labels" type="number" placeholder="Block number" name="blockNumber" required />
        <input class="labels" type="number" placeholder="Ward number" name="wardNumber" required />
        <button id='nextM' type="submit" class="buttons">Next</button>
        <!-- <div class="center-content"> -->
          
          <button class="buttons" style="background-color: red; margin-top: 4rem;">
            <a  href="/logout" style="text-decoration: none; color: rgb(255, 255, 255);">Logout</a>
  
          </button>
  
  
        <!-- </div> -->

      </form>
      <script>
        let btn = document.querySelector('#nextM');
        let wardForm = document.querySelector('#wardForm');
        let errEl = document.querySelector('#blockNotSame');
        
        function validate(event) {
          let valid = !((!wardForm.blockNumber.value && !wardForm.wardNumber.value) || wardForm.blockNumber.value !== wardForm.wardNumber.value);
          if(!valid) {
            event.preventDefault();
            errEl.style.display = 'block';
            return;
          }
          errEl.style.display = 'none';
          btn.classList.remove('buttons');
          btn.classList.add('disabledButton');
          btn.disabled = true;
          setTimeout(() => { 
            btn.classList.remove('disabledButton');
            btn.classList.add('buttons');
            btn.disabled = false;
          }, 5000);
        }
      </script>
    </div>
  </body>
</html>
