<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JCT | Wardbandi</title>
    <link rel="stylesheet" href="/css/w1.css" />
    <link rel="icon" href="/css/jct-logo-small-05.png" />
  </head>
  <body>
    <div class="main">
      <img class="logo" src="/css/jct-logo-small-05.png" alt="jct logo" />
      <div class="heading">
        <h1 class="headline">Wardbandi</h1>

      </div>
      <form method="POST" action="/area" class="center-content">
        <input class="labels" type="text" placeholder="Name of area" name="nameOfArea" required />
        <input class="labels" type="number" placeholder="Block number" name="blockNumber" required />
        <input class="labels" type="number" placeholder="Ward number" name="wardNumber" required />
        <button type="submit" class="buttons">Next</button>

      </form>
      <div class="center-content">
        <a  href="/logout">Logout</a>


      </div>
      

      
    </div>
  </body>
</html>
